<div class="hero">
<br>
  <div class="frosty col-10 offset-1 text-center">
    <br>
    <h1>Learn Great Family Recipes!</h1>
    <br>
    <h2>Breakfast? Lunch? Dinner? Dessert?</h2>
    <br>
    <%= link_to 'Find A Recipe', '#', class: 'btn btn-success' %>
    <br><br>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm features">
    <h3>Breakfast!</h3>
    <br>
    <p>Scrapple and Eggs!</p>
  </div>

  <div class="col-12 col-sm features">
    <h3>Lunch!</h3>
    <br>
    <p>Try and Make this Delicious Fried Chicken Sandwich!</p>
  </div>

  <div class="col-12 col-sm features">
    <h3>Dinner!</h3>
    <br>
    <p>Nothing Beats Carbonara!</p>
  </div>

  <div class="col-12 col-sm features">
    <h3>Desserts!</h3>
    <br>
    <p>Make great desserts like Chocoloate Man-Cake!
  </div>

</div>
